const SERVER_URL = "http://localhost:1337";

const request = require("request");

function getJWTToken() {
  return new Promise(function (resolve, reject) {
    request.post(
      SERVER_URL + "/auth/local",
      {
        json: {
          identifier: "demo",
          password: "demo123",
        },
      },
      (err, res, body) => {
        if (err) {
          reject(err);
        }
        var token = body.jwt;
        resolve(token);
      }
    );
  });
}

module.exports = {
  SERVER_URL,
  getJWTToken,
};
