const JWT = "";
const SERVER_URL = "http://localhost:1337";
const knex = require("knex")({
  client: "pg",
  connection: {
    host: "127.0.0.1",
    port: "database_port",
    user: "your_database_user",
    password: "your_database_password",
    database: "your_database_name",
  },
});

const bookshelf = require("bookshelf")(knex);

bookshelf.model("contact", {
  requireFetch: false,
  tableName: "contacts",
});
module.exports = {
  JWT,
  SERVER_URL,
  bookshelf,
};